{% extends 'base.html' %}

{% block center %}
    <h2> Formulário de Reserva.</h2>
       
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome da empresa</label>
            {{ form.nome_empresa }}
        </div>
        
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria da empresa</label>
            {{ form.categoria_empresa }}
        </div>

        <div class="mb-3">
            <label for="cnpj" class="form-label">CNPJ da empresa</label>
            {{ form.cnpj }}
        </div>

        <div class="mb-3">
            <label for="data" class="form-label">Data</label>
            {{ form.data }}
        </div>
        

        <div class="mb-3">
            <label for="{{ form.quitado.id_for_label }}" class="form-label">Quitado?</label>
            <input type="checkbox" name="{{ form.quitado.name }}" id="{{ form.quitado.id_for_label }}">
        </div>

        <div class="mb-3">
            <label for="stand" class="form-label">Stand</label>
            {{ form.stand }}
        </div>


        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>    
{% endblock %}