{% extends 'base.html' %}

{% block center %}
  <h2> Lista de Reservas</h2>

  <a href="{% url 'reserva_criar' %}" class="btn btn-success mb-3">Novo Cadastro</a>

  <form method="get" action="">
    <input type="search" name="nome_empresa">
    <input type="search" name="valor_stand">
    <input type="date" name="data">
    <input type="radio" name="quitado" value="True">
    <input type="radio" name="quitado" value="False">

    <button type="submit">Filtrar</button>
  </form>




  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome da empresa</th>
        <th>Categoria da empresa</th>
      </tr>
    </thead>
    <tbody>
      {% for reserva in reservas %}  
      <tr>
        <td>{{ reserva.nome_empresa }}</td>
        <td>{{ reserva.categoria_empresa }}</td>
        <td>
          <a href="{% url 'reserva_detalhe' id=reserva.id %}" class="btn btn-primary btn-sm">Detalhar</a>
          <a href="{% url 'reserva_remover' id=reserva.id %}" class="btn btn-danger btn-sm">Remover</a>
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>
{% endblock %}